<app-album-header>

</app-album-header>
<div class="album-info" *ngFor = "let item of album">
  <div class="album-art">
    {{item.title}} 
    <br>
     <img [src]= "item.coverUrl">
     <br>
     {{item.releaseDate}}
     
  </div>

  <div class="album-track-list" >
    <div class="Track-list-span">Track List</div>
    <app-track *ngFor="let song of item.trackList"
    [songName] ="song"
    ></app-track>
    
    
    
    <!-- <div *ngFor ="let song of item.trackList">
        {{song}}

    </div> -->

    <div class="album-purchase">
      <button [disabled] = "item.owned" >Buy Album</button>
    </div>
  </div>
</div>
